html {
	box-sizing: border-box;
}

body {
	margin: 0 0;
	background-image: linear-gradient(to right top, #6bd1d1, #65c9c5, #5fc2b9, #5abaad, #56b2a1, #51b59c, #4eb895, #4fbb8d, #58c984, #6ad677, #83e164, #a0ec4d);
}

html, body {
	height: 100%;
}

main {
	padding: 0 10%;
	font-family: 'Titillium Web', sans-serif;
}

.blog-name {
	margin: 0;
	padding: 0 10%;
	background-color: #33B3A2;
	border-bottom: thin solid black;	
	font-family: 'Questrial', sans-serif;
	font-size: 49px;
}

#new-blog-post-title {
	
}

#new-post-content {
	width: 100%;
	min-height: 100px;
}

#submit {
	padding: 1px 30px;
	font-size: 20px;
	border: medium none black;
	border-radius: 5%;
}